<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://rawgit.com/webcomponents/webcomponentsjs/master/webcomponents-loader.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
