<h1><component-blink>Blink</component-blink></h1>

<p>Sensors indicate <component-blink>human life</component-blink> forms 30 meters below the planet's surface. Stellar flares are increasing in magnitude and frequency. Set course for Rhomboid Dronegar 006, warp seven. There's no evidence of an advanced communication network. Total guidance system failure, with less than 24 hours' reserve power. Shield effectiveness has been reduced 12 percent. We have covered the area in a spherical pattern which a ship without warp drive could cross in the given time.</p>

<p>We're acquainted with the wormhole phenomenon, but this... Is a remarkable piece of <em><component-blink>bio-electronic engineering</component-blink></em> by which I see much of the EM spectrum ranging from heat and infrared through radio waves, et cetera, and forgive me if I've said and listened to this a thousand times. This planet's interior heat provides an abundance of geothermal energy. We need to neutralize the homing signal.</p>

<p>I have reset the sensors to scan for frequencies outside the usual range. By emitting harmonic vibrations to shatter the lattices. We will monitor and adjust the frequency of the resonators. He has this ability of instantly interpreting and extrapolating any verbal communication he hears. It may be due to the envelope over the structure, causing hydrogen-carbon helix patterns throughout. I'm comparing the molecular integrity of that bubble against our phasers.</p>

<template id="component-blink-template">
    <style>

        #content[data-visible="false"]{
            opacity : 0;
        }

    </style>
    <span data-visible="true" id="content"></span>

</template>

<script>

    const templateElement = document.body.querySelector('template#component-blink-template');

    class Blink extends HTMLElement {

        constructor() {
            
            super();

            const elementNode = this;
            let visible = true;

            elementNode.attachShadow({mode: 'open'});
            elementNode.shadowRoot.appendChild(document.importNode(templateElement.content, true));

            const contentNode = elementNode.shadowRoot.querySelector('#content');
            contentNode.textContent = elementNode.textContent;

            setInterval(function(){

                contentNode.dataset.visible = contentNode.dataset.visible === "false" ? "true" : "false";

            }, 500);

            console.log(elementNode);
 
        }

    }
    window.customElements.define('component-blink', Blink);


</script>